@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
//@import "reset.scss";

body{
    background-color: grey;
}

input{
    width: 15%;
    height: 40px;
}

.btn:hover,
.btn:active{
    color: black !important;
}

main{
    .poster-img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .card-container{
        position: relative;
        height: 660px;
        
        .overlay{
            color: white;
            background-color: black;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 0;
            gap: 5px;
            transition: opacity .3s;
        }

        &:hover{
            .overlay{
                opacity: 1;
            }

            img{
                border: none;
            }
        }
    }

}